<form id="vibeForm" action="/library" method="post">
  <div id="form"></div>
  <h4>i am {{ user.username }} <br>
    i am {{ user.username }} <br>
    i am {{ user.username }} <br><br>
  </h4>

  <h4>
    and im  
    <select id="atmos" name="atmos">
      <option value="atmosrain">listening to the sound of the rain falling</option>
      <option value="atmosunderwater">slowly sinking underwater</option>
      <option value="atmosspace">floating in space</option>
    </select>
  </h4> <br>

  <h4>all i can hear is  
    <select id="sounds" name="sounds">
      <option value="soundrain">the wind whistling through the trees</option>
      <option value="soundunderwater">the endless ocean over me</option>
      <option value="soundspace">the instruments and pilot messages in the background</option>
    </select>
  </h4><br>

  <h4>all i can see is 
    <select id="visuals" name="visuals">
      <option value="visualrain">the foggy forest im lost in</option>
      <option value="visualunderwater">the surface of the sea from underneath</option>
      <option value="visualspace">the space station im staying in</option>
    </select> 
    <br> <br> 
    <h4>this is my mood <br>
        i have control <br><br>
        i choose it, i name it <br>
         i feel it, i save it <br>
        

      <br><input type="text" id="title" name="title" minlength="4"></input><br><br>

      <br>
      <div>
        <button type="submit" class="button" "center">les gooo</button><br>
      </div>
    </h4>
  </div>
</form>











{{!-- <h4>and everythings gonna b okay <br>
        everythings gonna b okay <br>
        everythings gonna b okay <br>
</h4> --}}