
  {{#if user.username}}
  
  <div id="form"></div>
  <h4>welcome {{user.username}}  :)<br><br>
  </h4>
  <h4>missed u<br><br><br>
      hope this week isnt treating u too bad <br><br><br>
      ur welcome to create your own new vibe<br><br><br>
      just click this button over here<br><br><br>
      <a href="/create" type="submit" class="button" "center"> this one 🙃 !</a><br><br><br>
      also here's a list of your fave vibes<br><br><br>
       just in case you're not inspired<br><br><br>
       or too tired<br><br><br>
 
  </h4> <br>


{{/if}}





